[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
"bs4" = "*"
dateparser = "*"

[dev-packages]
pylint = "*"
pytest = "*"

[requires]
python_version = "3.6"
